.btn {
  --solid: var(--main-color3);
  --light: var(--text-color);

  padding: 1em 1.5em;
  border: 1px solid var(--solid);
  border-radius: 9999px;
  background-color: var(--solid);
  color: var(--light);

  transition: 0.1s;
}

.btn:hover {
  --solid: var(--text-color);
  --light: var(--main-color3);

  cursor: pointer;
}

.btn:active {
  transform: scale(0.8);
}