.logout-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logout-screen--form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2em;
  border: 1px solid var(--main-color4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--main-color2);
  -webkit-transform: scale(0);
          transform: scale(0);
}

.logout-screen--options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin-top: 2em;
}

.logout-screen--options button {
  width: 4em;
  padding: 0.5em;
  background-color: var(--main-color4);
  border: 1px solid var(--main-color2);
  border-radius: 9999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.1em;
  font-weight: bold;
}

.logout-screen--options .logout-screen--yes {
  color: var(--white);
  background-color: red;
}

.logout-screen--shown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logout-screen--shown .logout-screen--form {
  -webkit-animation: pop-up 0.3s forwards;
          animation: pop-up 0.3s forwards;
}

.logout-screen--hidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: dissappear 0.3s forwards;
          animation: dissappear 0.3s forwards;
}

.logout-screen--hidden .logout-screen--form {
  -webkit-animation: pop-down 0.3s forwards;
          animation: pop-down 0.3s forwards;
}

@-webkit-keyframes pop-up {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pop-up {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes pop-down {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes pop-down {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes dissappear {
  0%, 99% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes dissappear {
  0%, 99% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
/*# sourceMappingURL=logout.css.map */