*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.wrapper{
  position: absolute;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;

  box-sizing: content-box;
  position: relative;
}

.wrapper .left{
  background:  var(--main-color2);
  padding: 30px 25px;
  border-radius: 1em;
  text-align: center;
  color: var(--white);
  overflow: hidden;
  flex: 0 1 400px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper .left img{
  object-fit: cover;
}

.wrapper .left h2{
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.wrapper .right{
  /* background: var(--profile-color); */
  justify-self: stretch;
  flex: 1 1 auto;
}

.wrapper .right .info{
  margin: auto;
  margin-bottom: 25px;
  padding-top: 5em;
  width: 90%;
  color: var(--text-color);
}

.wrapper .right .info h2{
  text-align: center;
}

.wrapper .right  h2{
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--text-color);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data{
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data h4{
  /* color: #353c4e; */
  margin-bottom: 5px;
}

.wrapper .right .info_data p{
  margin-bottom: 10px;
  color: #919aa3;
}

.wrapper .edit_public,
.wrapper .edit_password
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.btn-1{
  padding: 12px 20px;
  background: var(--main-color2);
  border: none;
  color: white;
  border: 2px solid var(--main-color2);
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  height: 10%;
}


.btn-1:hover {
  background: transparent;
  color: var(--profile-text-color);
  transition: all .1s ease-in;
  text-shadow: 0 0 0.5em white
}

.btn-2{
  padding: 0.6em 1em;
  background: var(--main-color2);
  border: none;
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.1s ease-in;
}

.btn-2:hover{
  cursor: pointer;
  background: transparent;
  color: white;
}

.btn-3{
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 0 0 0.1em #334;
  transition: all 0.1s ease-in;
}

.btn-3:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.btn-3:hover{
  cursor: pointer;
  transform: scale(1.1);
  font-weight: bold;
  text-shadow: 0 0 0.1em #334;
}


.image{
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 0.5em;
  overflow: hidden;
  display: flex;
}

.image-container{
  position: absolute;
  bottom: 0;
  background-color: var(--main-color3__transparent);
  width: 100%;
  height: 30%;
  display: none;
}

.image:hover .image-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#profile_pic{
  display: none;
}

@media (min-width: 769px) {
  .wrapper{
    margin: 2em;
  }
}