@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
  --main-color1: #14279B;
  --main-color2: #3D56B2;
  --main-color3: #5C7AEA;
  --main-color4: #E6E6E6;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar{
  width: 1em;
}

::-webkit-scrollbar-track{
  background: #5C7AEA;
}

::-webkit-scrollbar-thumb{
  background: #ebebeb;
  border: 3px solid #5C7AEA;
  border-radius: 50px;
}

img{
  width: 100%;
  height: auto;
}

header{
  width: 100%;
  display: flex;
  flex-flow: wrap column;

  color: #ebebeb;
  background-color: #3D56B2;

  border-bottom: 1px solid #ebebeb;

  position: fixed;
  z-index: 10;
}

header .top{
  display: flex;
  justify-content: space-between;


  border-bottom: 1px solid #ebebeb;
}

header .top .top-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .top .top-left i{
  display: inline-flex;
  justify-content: center;
  align-content: center;

  padding: 5px;
  margin: 10px;
  border: 1px solid #ebebeb;
  border-radius: 20%;

  font-size: 24px;
}

a.logo img{
  height: 60px;
  width: auto;
}

a.logo{
  display: flex;
  justify-content: center;
}

header .top .top-left .logo-text{
  display: none;
}

header .top .top-right{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .top .top-right .hola{
  margin-right: 1em;
  flex-grow: 4;
}

header .top .top-right .fa-shopping-cart{
  font-size: 2em;
  margin-right: 1em;
  transition: all 0.2s;
}

header .top .top-right .fa-shopping-cart:hover{
  transform: rotate(-15deg);
}

header .pfp{
  height: 3em;
  width: 3em;
  border-radius: 50%;
  overflow: hidden;

  margin: 0 0.3em;
}

header .pfp img{
  width: 100%;
}

header .logout-icon{
  font-size: 2.5em;
  transition: all 0.2s;
  color: #ebebeb;
}

header .logout-icon:hover{
  color: hsl(0, 100%, 50%);
}

.top-button{
  font-size: 16px;
  background-color: #5C7AEA;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #14279B;
  border-radius: 3em;
  transition: all 0.2s;
}

.top-button:hover{
  color: #14279B;
  background-color: #ebebeb;
}

header .top .top-center{
  display: none;
}

header form{
  height: 3.5em;
  text-align: center;
  margin: 10px auto;
  padding: 10px 20px;

  display: flex;
  justify-content: center;
}

header form.laptop, form.mobile{
  width: 100%;
  max-width: 800px;
}

header form.logout{
  padding: 0 0.5em;
}

header form input{
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  outline: none;

  background-color: #ebebeb;

  position: relative;
  left: 10px;
}

header form button{
  width: 40px;
  /* padding: 5px 10px; */
  border: none;
  border-radius: 10px;

  background-color: #ebebeb;
}

header form button.logout-icon{
  background-color: inherit;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

h1{
  text-align: center;
}

nav{
  display: none;
}

main{
  padding-top: 120px;
  width: 100%;
  min-height: 80vh;
  background-image: url("/img/bg.png");
  background-color: #E6E6E6;
}

footer{
  background-color: #3d56b2;
  color: #E6E6E6;
}

textarea{
  resize: none;
  height: 10em;
}

button, input[type="submit"]{
  cursor: pointer;
}

button.search{
  position: relative;
  right: 10px;
}


.products-table{
  margin: auto;
  text-align: center;
  padding-bottom: 10px;
}

.products-table td{
  border: 1px solid #e3e3e3;
  padding: 0.25em;
  text-align: center;
}

.products-table td:first-child{
  font-weight: bold;
}

.products-table th{
  /* text-align: center; */
  background-color: #3D56B2;
  color: #FFF;
  padding: 0.5em 1em;
  min-width: 4em;
}

.products-table fa-eye:hover{
  color: #3D56B2;
}

.titulo-edit{
  display: flex;
  margin: auto;
}

.reference{
  height: 15rem;
  width: 100%;
}

.initial{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3D56B2;
  color: #ebebeb;
  height: 2em;
}

.social{
  max-width: 40vw;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  padding-top: 1em;
}

.social img{
  width: 20px;
}

.links{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 0.5em;
}

.derecha{
  padding: 20px;
  text-align: center;
}

.izquierda{
  padding: 20px;
  text-align: center;
}

.logo-footer{
  padding-left: 30px;
  padding-top: 10px;
}

.dot{
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  border: 10px;
}

.hecho{
  padding-top: 10px;
}

/* .cuadrito{
  padding-top: 10px;
} */

.contenedor1,
.contenedor2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 100%;
}

/* .total{
  width: 100%;
  padding: 5px 0 0;
} */

.truckie{
  background-color: white;
  color: #39b54a;
  text-align: left;
  position: relative;
  max-width: 2px;
}

.precio{
  margin: auto;
  color: #14279B;
}

.small-container{
  max-width: 1000px;
  margin: auto;
  padding-left: 25px;
  padding-right: 20px;
}

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.single-product{
  margin-top: 80px;
}

.form-register{
  width: 500px;
  max-width: 90%;
  background: #3D56B2;
  padding: 3em 2em 2em;
  margin: 50px auto;
  border-radius: 2.5em;
  font-family: 'Open Sans', sans-serif;
  color: #E6E6E6;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4{
  font-size: 22 px;
}

.form-register label{
  display: inline-block;
  margin-top: 1em;
}

.category label{
  margin: 0.5em;
}

.controls{
  width: 100%;
  background-color: #E6E6E6;
  padding: 10px;
  border: 1px solid #14279B;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.form-register p{
  height: 40px;
  /* text-align: center; */
  font-size: 18px;
}

.form-register a{
  text-align: center;
  transition: all 0.1s;
}

.form-register a:hover{
  color: white;
  text-decoration: underline;
}

.form-register .botons{
  width: 100%;
  height: 3em;
  background: #E6E6E6;
  border: 1px solid #ebebeb;
  border-radius: 1.5em;
  padding: 12px;
  color: #14279B;
  font-weight: bold;
  margin: 16px 0;
  font-size: 16px;
  transition: all 0.2s;
}

.form-register .botons:hover{
  background: #14279B;
  color: #ebebeb;
}

.eyecon, .edit-icon, .delete-icon{
  font-size: 1.2em;
  transition: all 0.2s;
}

.eyecon:hover{
  color: hsl(240deg, 100%, 60%);
}

.edit-icon:hover{
  color: hsl(100deg, 100%, 30%);
}

.delete-icon{
  border: none;
}

.delete-icon:hover{
  color: hsl(0, 100%, 50%);
}

.product{
  border: 1px solid #ebebeb;
  width: 85%;
  padding: 15px;
  margin: 10px;
  border: 1px solid rgb(100,100,100);
  border-radius: 25px;
  text-align: center;
  align-content: space-between;

  /* box-shadow: 0px 0px 10px rgb (100,100,100); */
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: stretch;
}

.product img{
  border-radius: 20px;
}

.product:hover{
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 10px rgb(100,100,100);
}

.image-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
}

.descrip{
  text-align: center;
  width: 100%;
  height: 5em;
  padding: 2px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.title{
  font-weight: bold;
  text-align:center;
  line-height: 1.2em;
  padding: 0.3em 0;
}

.autor{
  font-style: italic;
}

/* .details{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  
  background-color: #5C7AEA;
  border-radius: 5px;
  color: white;
  height: 3em;
  margin: 15px auto;
  padding: 10px 20px;
} */

.logo-footer{
  flex-grow: 2;
}

.footer-art{
  display:flex;
  justify-content:space-around;
  align-items: center;
}

.articulo--top{
  margin-bottom: 50px;
  padding: 2em;
}

.articulo--top--img{
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
}

.articulo{
 border-radius: 10px;
 background-color: #ccc;
 max-width: 50%;
 margin: auto;
}

/* .title{
  font-weight: bold;
  text-align:center;
} */

.articulo--top--info{
  text-align:justify;
}

.whatsapp{
  position: fixed; 
  bottom: 15px;
  right: 15px;
  z-index: 10;

  display: flex;
  align-items: center;

  padding: 15px;
  border: 1px solid #112;
  border-radius: 28px;

  font-size: 0.9em;
  letter-spacing: 0.07em;
  font-weight: bold;
  color: white;
  background-color: #075E54;

  transition: all 0.2s;
}

.whatsapp:hover{
  cursor: pointer;
  background-color: #128C7E;
}

.laptop{
  display: none;
}


/* Vista tablet */
@media (min-width: 481px){
  header .top .top-right .button{
    font-size: 16px;
  }

  .product{
    max-width: 40%;
    text-align: center;
  }

  header .top .top-left .logo-text{
    width: 100%;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    font-weight: bold;
  }

  .contenedor1,
  .contenedor2{
    display: flex;
    flex-wrap: wrap;
  }

  .form-register{
    padding: 3em;
  }
}




/* Vista laptop */
@media (min-width: 769px){
  .laptop{
    display: flex;
  }

  .mobile{
    display: none;
  }

  header .top .top-left i{
    display: none;
  }

  /* header .search{
    display: none;
  } */

  header .top .top-center{
    display: flex;
    align-content: center;
    flex-grow: 4;
  }

  nav{
    display: flex;
    align-self: center;
  }

  header nav ul{
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }

  .product{
    min-width: calc(0.4 * 769);
    width: 20em;
  }
}


/* Vista escritorio */
@media (min-width: 1280px){}

.login-box{
  width: 320px;
  height: 420px;
  background: #3D56B2;
  color: #E6E6E6;
  box-sizing: border-box;
  margin: 10px auto 30px;
  padding: 70px 30px;
}

.login-box .avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.login-box h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 25px;
}

.login-box label{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  display: block;
}

.login-box input{
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type = "checkbox"], input[type = "radio"]{
  width: 20px;
  cursor: pointer;
}

.login-box__input{
  border: none;
  background: transparent;
  outline: none;
  border-bottom: 1px solid #aaa;
  height: 40px;
  color: #fff;
  font-size: 16px;
  transition: all 0.2s;
}

.login-box__input:focus{
  border-bottom: 1px solid #fff;
}

.login-box__input::placeholder{
  color: #999;
}

.login-box input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  transition: all 0.2s;
}

.login-box input[type="submit"]:hover{
  cursor: pointer;
  background: #ebebeb;
  color: #14279B;
}

.login-box form a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: rgb(241, 203, 203);
  transition: all 0.1s;
}

.login-box form a:hover{
  color: rgb(131, 29, 29);
}

/* .category{
  margin: 0.1em;
} */

/* .terms{
  margin-top: 1em;
} */

.feedback{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: left;
  font-style: italic;
  font-weight: bold;

  color: hsl(0, 100%, 60%);
  /* background-color: hsl(0, 60%, 70%); */

  /* padding: 1em; */
  margin-top: 0.5em;
}