.libros {
  display: flex;
  flex-wrap: wrap;
}

.libro {
  display: flex;
  flex-flow: wrap column;

  font-size: 12px;
  width: 90%;
  margin: 0 auto 25px;
  padding: 20px;

  border: 2px solid var(--main-color1);
  border-radius: 20px;
}

.libro--titulo {
  font-size: 1.5em;
  line-height: 1.2em;
}

.libro--top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.libro--top--img {
  width: 30%;
}

.libro--cuerpo {
  line-height: 1.3em;
  margin-left: 15px;
}

.libro--cuerpo--top {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.libro--desc {
  margin: 10px 0;
}

.libro--bottom {
  display: flex;
  justify-content: space-around;

  padding-top: 10px;
}

.libro--bottom--cant {
  width: 60px;
  padding: 5px;

  border-radius: 10px;
}

.libro--bottom--cost {
  padding: 10px;
}

.libro--remove {
  position: relative;
  top: -10px;
  right: -5px;
  
  color: red;
  font-size: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  min-width: 40px;
  height: 40px;

  border: 1px solid red;
  border-radius: 50%;

  transition: all 0.1s;
}

.libro--remove:hover {
  color: var(--main-color4);
  font-weight: bold;
  background-color: red;
  cursor: pointer;
}

.costos {
  display: flex;
  justify-content: space-between;

  width: 80%;

  font-size: 5vw;
  font-weight: bold;
  line-height: 2em;
}

.rotulos, .valores {
  width: 50%;
  text-align: right;
}

.descuento {
  color: #292;
}

.botones {
  font-size: 3vw;

  width: 80%;
  display: flex;

  margin: 30px auto;
}

.boton {
  width: 30vw;
  height: 12vw;

  font-weight: bold;
  border: 1px solid var(--main-color1);
  border-radius: 10px;

  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  transition: all 0.2s;
}

.boton:hover {
  color: var(--main-color4);
  background-color: var(--main-color1);
  cursor: pointer;
}

.laptop {
  display: none;
}

@media (min-width: 481px) {
  .libro {
    font-size: 16px;
  }

  .costos {
    font-size: 24px;
  }

  .botones {
    font-size: 14px;
  }

  .boton {
    width: 150px;
    height: 60px;
  }
}

@media (min-width: 769px) {
  .laptop {
    display: flex;
  }

  .mobile {
    display: none;
  }
}

@media (min-width: 1280px) {
  .libro {
    width: 40%;
  }
}


