<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css">

  </head>

  <body>
    <header>
      <div class="top">
        <div class="top-left">
          <div class="burger-menu">
            <i class="fas fa-bars"></i>
          </div>

          <a href="/" class="logo">
            <img src="./img/logo.png" alt="">

            <div class="logo-text">
              <p>L&nbspSTANDS</p>
              <p>FOR&nbspLIBROS</p>
            </div>
          </a>
        </div>

        <div class="top-center">
          <form action="search" method="post">
            <input type="text" name="search" id="search" placeholder="Busca tus libros">

            <button type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>

        <div class="top-right">
          <a href="/product-cart">
            <i class="fas fa-shopping-cart"></i>
          </a>

          <a href="/login" class="button">Ingresa</a>

          <a href="/register" class="button">Regístrate</a>
        </div>
      </div>

      <form action="search" method="post" class="search">
        <input type="text" name="search" id="search" placeholder="Busca tus libros">

        <button type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>

      <nav>
        <ul>
          <li><a href="#">Categorias</a></li>
          &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
          <li><a href="#">Ofertas</a></li>
          &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
          <li><a href="#">Historial</a></li>
        </ul>
      </nav>

    </header>

    <main>
      <img class="reference" src="./img/library.png" alt="library">
      <div><h1 class="initial">Algunos títulos que te recomendamos</h1></div>
      <section class="contenedor1">
        <article class="product">
          <img class="product-image" src="./img/american_marxism.png" alt="american_marxism book">
          <div class="total">
            <div class="truckie"><i class="fas fa-truck"></i></div>
            <class class="price-discount">
              <p class="precio">$50.000</p>
              <p class="discount">40% OFF</p>
            </div>
            <p class="descrip">The seven-time #1 New York Times bestselling author, Fox News star, and radio host Mark
              R. Levin explains how the dangers he warned against in the “timely yet timeless” (David Limbaugh, author
              of Jesus Is Risen) bestseller Liberty and Tyranny have come to pass. </p>
          </div>
        <div class="details"><a href="/product-detail">Quiero saber más</a></div> 

        </article>

        <article class="product">
          <img class="product-image" src="./img/cryinginhmart.jpeg" alt="cryinginhmart book">
          <div class="total">
            <div class="truckie"><i class="fas fa-truck"></i></div>
            <div class="price-discount">
              <p class="precio">$70.500</p>
              <p class="discount">10% OFF</p>
            </div>
            <p class="descrip">An unflinching, powerful memoir about growing up Korean American, losing her mother, and
              forging her own identity. In this exquisite story of family, food, grief, and endurance, Michelle Zauner
              proves herself far more than a dazzling singer, songwriter, and guitarist. With humor and heart, she tells
              of growing up one of the few Asian American kids at her school in Eugene, Oregon; of struggling with her
              mother's particular, high expectations of her; of a painful adolescence; of treasured months spent in her
              grandmother's tiny apartment in Seoul, where she and her mother would bond, late at night, over heaping
              plates of food.
            </p>
          </div>
          <div class="details"><p>Quiero ver más</p></div>
        </article>

        <article class="product">
          <img class="product-image" src="./img/educated.jpeg" alt="Educated book">
          <div class="total">
            <div class="truckie"><i class="fas fa-truck"></i></div>
            <div class="price-discount">
              <p class="precio">$30.000</p>
              <p class="discount">5% OFF</p>
            </div>
            <p class="descrip">Tara Westover was 17 the first time she set foot in a classroom. Born to survivalists in
              the mountains of Idaho, she prepared for the end of the world by stockpiling home-canned peaches and
              sleeping with her "head-for-the-hills bag". In the summer she stewed herbs for her mother, a midwife and
              healer, and in the winter she salvaged in her father's junkyard.</p>
          </div>
          <div class="details"><p>Quiero ver más</p></div>
        </article>
        <article class="product">
          <img class="product-image" src="./img/harlem_shuffle..jpeg" alt="harlem_shuffle">
          <div class="total">
            <div class="truckie"><i class="fas fa-truck"></i></div>
            <div class="price-discount">
              <p class="precio">$90.000</p>
              <p class="discount">20% OFF</p>
            </div>
            <p class="descrip">"Ray Carney was only slightly bent when it came to being crooked..." To his customers and
              neighbors on 125th street, Carney is an upstanding salesman of reasonably priced furniture, making a
              decent life for himself and his family. He and his wife Elizabeth are expecting their second child, and if
              her parents on Striver's Row don't approve of him or their cramped apartment across from the subway
              tracks, it's still home. Few people know he descends from a line of uptown hoods and crooks, and that his
              façade of normalcy has more than a few cracks in it. Cracks that are getting bigger all the time. </p>
            </div>
            <div class="details"><p>Quiero ver más</p></div>
        </article>
      </section>

      <h1> Basados en tu historial </h1>
      <section class="contenedor2">
        <article class="product">
          <img class="product-image" src="./img/Hillary_clinton.png" alt="Hillary_clinton">
          <div class="total">
            <div class="truckie"><i class="fas fa-truck"></i></div>
            <div class="price-discount">
              <p class="precio">$20.000</p>
            </div>
            <p class="descrip">After a tumultuous period in American politics, a new administration has just been sworn
              in, and to everyone’s surprise the president chooses a political enemy for the vital position of secretary
              of state. There is no love lost between the president of the United States and Ellen Adams, his new
              secretary of state. But it’s a canny move on the part of the president. With this appointment, he silences
              one of his harshest critics, since taking the job means Adams must step down as head of her multinational
              media conglomerate.</p>
          </div>
          <div class="details"><p>Quiero ver más</p></div>
        </article>

        <article class="product">
          <img class="product-image" src="./img/people_we_meet.png" alt="People we meet">
          <div class="total">
            <div class="truckie"><i class="fas fa-truck"></i></div>
            <div class="price-discount">
              <p class="precio">$30.000</p>
            </div>
            <p class="descrip">Poppy and Alex. Alex and Poppy. They have nothing in common. She’s a wild child; he wears
              khakis. She has insatiable wanderlust; he prefers to stay home with a book. And somehow, ever since a
              fateful car share home from college many years ago, they are the very best of friends. For most of the
              year they live far apart—she’s in New York City, and he’s in their small hometown—but every summer, for a
              decade, they have taken one glorious week of vacation together.</p>
          </div>
          <div class="details"><p>Quiero ver más</p></div>
        </article>

        <article class="product">
          <img class="product-image" src="./img/peril.jpg" alt="Peril">
          <div class="total">
            <div class="truckie"><i class="fas fa-truck"></i></div>
            <div class="price-discount">
              <p class="precio">$70.500</p>
            </div>
            <p class="descrip">The transition from President Donald J. Trump to President Joseph R. Biden Jr. stands as
              one of the most dangerous periods in American history. But as # 1 internationally bestselling author Bob
              Woodward and acclaimed reporter Robert Costa reveal for the first time, it was far more than just a
              domestic political crisis. Woodward and Costa interviewed more than 200 people at the center of the
              turmoil, resulting in more than 6,000 pages of transcripts—and a spellbinding and definitive portrait of a
              nation on the brink.</p>
          </div>
          <div class="details"><p>Quiero ver más</p></div>
        </article>

        <article class="product">
          <img class="product-image" src="./img/theartofnot.jpg" alt="theartofnot">
          <div class="total">
            <div class="truckie"><i class="fas fa-truck"></i></div>
            <div class="price-discount">
              <p class="precio">$23.200</p>
            </div>
            <p class="descrip">In this generation-defining self-help guide, a superstar blogger cuts through the crap to
              show us how to stop trying to be "positive" all the time so that we can truly become better, happier
              people. For decades, we’ve been told that positive thinking is the key to a happy, rich life. "F**k
              positivity," Mark Manson says. "Let’s be honest, shit is f**ked and we have to live with it." In his
              wildly popular Internet blog, Manson doesn’t sugarcoat or equivocate. He tells it like it is—a dose of
              raw, refreshing, honest truth that is sorely lacking today. The Subtle Art of Not Giving a F**k is his
              antidote to the coddling, let’s-all-feel-good mindset that has infected modern society and spoiled a
              generation, rewarding them with gold medals just for showing up.</p>
          </div>
          <div class="details"><p>Quiero ver más</p></div>
        </article>
      </section>
    </main>

    <footer>
      <section class="footer-art">
        <div class="izquierda">
          <div class="icon"><i class="fas fa-phone-alt"></i></div>
          <p><strong>Teléfono</strong></p>
          <p>601-7658531</p>
          <div class="cuadrito">
            <p><strong>Redes Sociales</strong></p>
          </div>
          <div class="social">
            <a href="https://twitter.com/" class="social-link-twitter"><span class="dot"></span></a>
            <a href="https://facebook.com/" class="social-link-facebook"><span class="dot"></span></a>
            <a href="https://instagram.com/" class="social-link-instagram"><span class="dot"></span></a>
          </div>
        </div>

        <div><img src="./img/logo.png" alt="" class="logo-footer"></div>

        <div class="derecha">
          <div class="icon"><i class="fas fa-store-alt"></i></div>
          <p><strong>Tienda física</strong></p>
          <p>Calle 65 No 58c-79 Local 204</p>
          <div class="hecho">
            Hecho con ❤️ por Proyecto 7
          </div>
        </div>
      </section>
    </footer>
  </body>

</html>