<!DOCTYPE html>
<html lang="es">

  <%- include("./partials/head", {title: "Edición"}) %>

  <body>
    <%- include("./partials/header") %> 

    <main>
      <form class="form-register" action="/products/1?_method=PUT" method="post">
        <h4 class="título form product-create">Formulario edición productos</h4>
        <input class="controls login-box__input" type="text" name="name" id="name">
        <input class="controls login-box__input" type="text" name="autor" id="autor">
        <input class="controls login-box__input" type="number" name="isbn" id="isbn">
        <input class="botons" type="submit" value="Editar">
        <p><a href="product-create">Quiero crear un producto</a></p>
      </form>
    </main>
    <%- include("./partials/footer") %>
  </body>

</html>