<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detalle del producto</title>
    
        <link rel="stylesheet" href="css/normalize.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <div class="small-container single-product">
        </div class="row">
        </div class="col-2">
        <img src="img/american_marxism.png" width="100%" id="ProductImg" <div class="small-img-row">
        <div class="small-img-col">
            <img src="img/american_marxism.png" width="100%" class="small-img">
        </div>
        <div class="small-img-col">
            <img src="img/cryinginhmart.jpeg" width="100%" class="small-img">
        </div>
        <div class="small-img-col">
            <img src="img/educated.jpeg" width="100%" class="small-img">
        </div>
        <div class="small-img-col">
            <img src="img/harlem_shuffle..jpeg" width="100%" class="small-img">
        </div>
        <div class="small-img-col">
            <img src="img/Hillary_clinton.png" width="100%" class="small-img">
        </div>
        <div class="small-img-col">
            <img src="img/people_we_meet.png" width="100%" class="small-img">
        </div>
        <div class="small-img-col">
            <img src="img/peril.jpg" width="100%" class="small-img">
        </div>
        <div class="small-img-col">
            <img src="img/theartofnot.jpg" width="100%" class="small-img">
        </div>
        <div class="small-img-col">
            <img src="img/theworldtravel.jpg" width="100%" class="small-img">
        </div>
        <div class="small-img-col">
            <img src="img/think_again.jpeg" width="100%" class="small-img">
        </div>
        </div>
        </div>
        </div>
        </div>
    </body>

</html>