<!DOCTYPE html>
<html lang="es">

  <%- include("./partials/head", {title: "Creación de productos"}) %>

  <body>
    <%- include("./partials/header") %> 

    <main>
      <form class="form-register" action="/products" method="post" enctype="multipart/form-data">
        <h4 class="título form product-create">Formulario de creación de productos</h4>

        <input class="controls login-box__input" type="text" name="name" id="nombre-libro" placeholder="Ingrese el nombre del libro" autofocus>

        <input class="controls login-box__input" type="text" name="autor" id="autor" placeholder="Ingrese del autor">
        
        <input class="controls login-box__input" type="text" name="isbn" id="isbn" placeholder="Ingrese el ISBN del texto">
        
        <input class="controls login-box__input" type="text" name="type" id="type" placeholder="Ingrese el género de su libro">
        
        <input class="controls login-box__input" type="number" name="price" id="price" placeholder="Ingresa el precio del libro" min="0" step="100">
        
        <textarea class="controls login-box__input" name="desc" id="desc" placeholder="Ingrese una descripción"></textarea>
        
        <input class="controls login-box__input" type="file" name="product-image" id="product-image" accept="image/*">

        <p>Estoy de acuerdo con los <a href="#"><b>Términos y Condiciones</b></a></p>
        
        <input class="botons" type="submit" value="Registrar">
        
        <p><a href="/products">Quiero modificar un producto ya creado</a></p>
      </form>
    </main>

    <%- include("./partials/footer") %>
  </body>

</html>