<!DOCTYPE html>
<html lang="en">

  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/header.ejs") %> 

    <main>
      <form class="form-register" action="/register" method="post" enctype="multipart/form-data">
        <h4>Formulario Registro</h4>
        <input class="controls login-box__input" type="text" name="Nombres" id="Nombres" placeholder="Ingrese su nombre">
        <input class="controls login-box__input" type="text" name="Apellidos" id="Apellidos" placeholder="Ingrese sus apellidos ">
        <input class="controls login-box__input" type="email" name="Correo" id="Correo" placeholder="Ingrese su Correo">
        <input class="controls login-box__input" type="password" name="Contraseña" id="Contraseña" placeholder="Ingrese su Contraseña">
        <p>Estoy de acuerdo con los <a href="#">TERMINOS Y CONDICIONES</a></p>
        <input class="botons" type="submit" value="Registrar">
        <p><a href="#">¿Ya tengo cuenta?</a></p>
      </form>
    </main>

    <footer>
      <section class="footer-art">
        <div class="izquierda">
          <div class="icon"><i class="fas fa-phone-alt"></i></div>
          <p><strong>Teléfono</strong></p>
          <p>601-7658531</p>
          <div class="cuadrito">
            <p><strong>Redes Sociales</strong></p>
          </div>
          <div class="social">
            <a href="https://twitter.com/" class="social-link-twitter"><span class="dot"></span></a>
            <a href="https://facebook.com/" class="social-link-facebook"><span class="dot"></span></a>
            <a href="https://instagram.com/" class="social-link-instagram"><span class="dot"></span></a>
          </div>
        </div>

        <div><img src="/img/logo.png" alt="" class="logo-footer"></div>

        <div class="derecha">
          <div class="icon"><i class="fas fa-store-alt"></i></div>
          <p><strong>Tienda física</strong></p>
          <p>Calle 65 No 58c-79 Local 204</p>
          <div class="hecho">
            Hecho con ❤️ por Proyecto 7
          </div>
        </div>
      </section>
    </footer>
  </body>

</html>