<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>

    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <header>
      <div class="top">
        <div class="top-left">
          <div class="burger-menu">
            <i class="fas fa-bars"></i>
          </div>

          <a href="/" class="logo">
            <img src="./img/logo.png" alt="">

            <div class="logo-text">
              <p>L&nbspSTANDS</p>
              <p>FOR&nbspLIBROS</p>
            </div>
          </a>
        </div>

        <div class="top-center">
          <form action="search" method="post">
            <input type="text" name="search" id="search" placeholder="Busca tus libros">

            <button type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>

        <div class="top-right">
          <a href="/product-cart">
            <i class="fas fa-shopping-cart"></i>
          </a>

          <a href="/login" class="button">Ingresa</a>

          <a href="/register" class="button">Regístrate</a>
        </div>
      </div>

      <form action="search" method="post" class="search">
        <input type="text" name="search" id="search" placeholder="Busca tus libros">

        <button type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>

      <nav>
        <ul>
          <li><a href="#">Categorias</a></li>
          &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
          <li><a href="#">Ofertas</a></li>
          &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
          <li><a href="#">Historial</a></li>
        </ul>
      </nav>

    </header>

    <main>
      <section class="form-register">
        <h4>Formulario Registro</h4>
        <input class="controls login-box__input" type="text" name="Nombres" id="Nombres" placeholder="Ingrese su nombre">
        <input class="controls login-box__input" type="text" name="Apellidos" id="Apellidos" placeholder="Ingrese sus apellidos ">
        <input class="controls login-box__input" type="email" name="Correo" id="Correo" placeholder="Ingrese su Correo">
        <input class="controls login-box__input" type="password" name="Contraseña" id="Contraseña" placeholder="Ingrese su Contraseña">
        <p>Estoy de acuerdo con los <a href="#">TERMINOS Y CONDICIONES</a></p>
        <input class="botons" type="submit" value="Registrar">
        <p><a href="#">¿Ya tengo cuenta?</a></p>
      </section>
    </main>

    <footer>
      <section class="footer-art">
        <div><img src="./img/logo.png" alt="" class="logo-footer"></div>
        <div class="derecha">
          <div class="icon"><i class="fas fa-store-alt"></i></div>
          <p><strong>Tienda física</strong></p>
          <p>Calle 65 No 58c-79 Local 204</p>
          <div class="hecho">
            Hecho con ❤️ por Proyecto 7
          </div>
        </div>

        <div class="izquierda">
          <div class="icon"><i class="fas fa-phone-alt"></i></div>
          <p><strong>Teléfono</strong></p>
          <p>601-7658531</p>
          <p><strong>Redes Sociales</strong></p>
          <div class="social">
            <a href="https://twitter.com/" class="social-link twitter"><img src="./img/twitter.png" alt=""></a>
            <a href="https://facebook.com/" class="social-link facebook"><img src="./img/facebook.png" alt=""></a>
            <a href="https://instagram.com/" class="social-link instagram"><img src="./img/instagram.png" alt=""></a>
          </div>
        </div>
      </section>
    </footer>


  </body>

</html>