@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}


.form-register {
  width: 400px;
  background: #3D56B2;
  padding: 30px;
  margin: 50px auto;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  color: #E6E6E6;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22 px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background-color: #E6E6E6;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #14279B;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
}

/* .form-register a {
color: white;
text-decoration: none;
} */

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #E6E6E6;
  border: none;
  padding: 12px;
  color: #14279B;
  font-weight: bold;
  margin: 16px 0;
  font-size: 16px
}

.product {
  border: 1px solid #ebebeb;
  width: 90%;
  border-radius: 5px;
}

.descrip {
  text-align: justify;
  text-justify: inter-word;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;

  display: flex;
  flex-flow: wrap column;
}

header {
  width: 100%;
  display: flex;
  flex-flow: wrap column;

  color: #ebebeb;
  background-color: #3D56B2;

  position: fixed;
}

header .top {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid #eee;
}

header .top .top-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .top .top-left i {
  display: inline-flex;
  justify-content: center;
  align-content: center;

  padding: 5px;
  margin: 10px;
  border: 1px solid #ebebeb;
  border-radius: 20%;

  font-size: 24px;
}

header .top .top-left img {
  height: 60px;
}

header .top .top-left a {
  display: flex;
  justify-content: center;
}

header .top .top-left .logo-text {
  display: none;
}

header .top .top-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .top .top-right i {
  font-size: 2em;
  margin-right: 15px;

}

header .top .top-right .button {
  background-color: #5C7AEA;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #14279B;
  border-radius: 10px;
}

header .top .top-center {
  display: none;
}

header form {
  width: 100%;
  text-align: center;
  padding: 10px 0;

  display: flex;
  justify-content: center;
}

header form input {
  width: 80%;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;

  position: relative;
  left: 10px;
}

header form button {
  padding: 5px 10px;
  border: none;
  border-radius: 10px;

  background-color: white;

  position: relative;
  right: 10px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: none;
}

main {
  margin-top: 140px;
}

footer {
  background-color: #3d56b2;
  color: #E6E6E6;
}



.footer-art {
  display: flex;
  justify-content: space-around;
}

.social {
  max-width: 40vw;
  display: flex;
  justify-content: center;
}

.social img {
  width: 20px;
}

.derecha {
  padding-left: 30px;
  padding-top: 10px;
}

.izquierda {
  padding-left: 20px;
  padding-top: 10px;
}

.logo-footer {
  padding-left: 30px;
  padding-top: 10px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  border: 10px;
}

.hecho {
  padding-top: 10px;
}

.cuadrito {
  padding-top: 10px;
}

.contenedor1,
.contenedor2 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.truckie {
  background-color: white;
  color: #39b54a;
  text-align: left;
  position: relative;
  max-width: 2px;
  left: 85%;
  bottom: 30px;
  width: 100%;
}

/* Vista tablet */
@media (min-width: 481px) {
  body {
    font-size: 16px;
  }

  article {
    max-width: 40%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
  }

  header .top .top-left .logo-text {
    width: 100%;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    font-weight: bold;
  }

  /* .product{
    box-shadow: 0px 0px 10px rgb (100,100,100);
  } */

  .contenedor1,
  .contenedor2 {
    display: flex;
    flex-wrap: wrap;
  }
}




/* Vista laptop */
@media (min-width: 769px) {
  header .top .top-left i {
    display: none;
  }

  header .search {
    display: none;
  }

  header .top .top-center {
    display: flex;
    align-content: center;
    flex-grow: 4;
  }

  nav {
    display: flex;
    align-self: center;
  }

  header nav ul {
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }

  article {
    max-width: 25%;
    padding: 10px;
  }
}


/* Vista escritorio */
@media (min-width: 1280px) {

  body {
    margin: 0;
    padding: 0;
    background: url(../img/bg.jpeg) no-repeat center top;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
  }

  .login-box {
    width: 320px;
    height: 420px;
    background: #14279B;
    color: #E6E6E6;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }

  .login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }

  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }

  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: 'Open Sans', sans-serif;
    display: block;
  }

  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }

  .login-box input[type="text"],
  .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }

  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }

  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }

  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(241, 203, 203);
  }

  .login-box a:hover {
    color: rgb(131, 29, 29);
  }

}