.laptop{
  display: none;
}

.articulo{
  display: flex;
  flex-flow: wrap column;

  width: 80%;
  margin: auto;
  margin-bottom: 25px;
  padding: 20px;

  border: 2px solid #14279B;
  border-radius: 20px;
}

.articulo--top{
  display: flex;

  margin: 5px 0;
}

.articulo--top--img{
  width: 30%;
}

.articulo--top--info{
  padding: 15px;
  line-height: 1.3em;
}

.articulo--desc{
  margin: 10px 0;
}

.articulo--bottom{
  display: flex;
  justify-content: space-between;

  padding-top: 10px;
}

.articulo--bottom--cant{
  width: 60px;
  padding: 5px;

  border-radius: 10px;
}

.articulo--bottom--cost{
  padding: 10px;
}

.articulo--bottom--remove{
  color: red;
  font-size: 25px;

  text-align: center;

  width: 40px;
  height: 40px;
  padding: 6px;

  border: 1px solid red;
  border-radius: 50%;
}

.articulo--bottom--remove:hover{
  color: #ebebeb;
  font-weight: bold;
  background-color: red;
}

.costos{
  display: flex;
  justify-content: space-between;

  width: 80%;

  font-size: 2em;
  font-weight: bold;
  line-height: 2em;
}

.rotulos, .valores{
  width: 50%;
  text-align: right;
}

.descuento{
  color: #292;
}

.botones{
  width: 80%;
  display: flex;

  margin: 30px auto;
}

.boton{
  width: 150px;
  height: 60px;

  border: 1px solid #14279B;
  border-radius: 10px;

  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.boton:hover{
  color: #ebebeb;
  font-weight: bold;
  background-color: #14279B;
}

@media (min-width: 481px) {
  
}

@media (min-width: 769px) {
  .laptop{
    display: block;
  }
  
  .mobile{
    display: none;
  }
}
