@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #ebebeb;
}

header{
  width: 100%;
  display: flex;
  flex-flow: wrap column;
  background-color: #3D56B2;

  position: fixed;
}

header .top{
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid #eee;
}

header .top .top-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .top .top-left i{
  display: inline-flex;
  justify-content: center;
  align-content: center;

  padding: 5px;
  margin: 10px;
  border: 1px solid #ebebeb;
  border-radius: 20%;

  font-size: 24px;
}

header .top .top-left img{
  height: 60px;
}

header .top .top-left a{
  display: flex;
  justify-content: center;
}

header .top .top-left .logo-text{
  display: none;
}

header .top .top-right{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .top .top-right i{
  font-size: 2em;
  margin-right: 15px;

}

header .top .top-right .button{
  background-color: #5C7AEA;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #14279B;
  border-radius: 10px;
}

header .top .top-center{
  display: none;
}

header form{
  width: 100%;
  text-align: center;
  padding: 10px 0;

  display: flex;
  justify-content: center;
}

header form input{
  width: 80%;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;

  position: relative;
  left: 10px;
}

header form button{
  padding: 5px 10px;
  border: none;
  border-radius: 10px;

  background-color: white;

  position: relative;
  right: 10px;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

nav{
  display: none;
}


/* Vista tablet */
@media (min-width: 481px) {
  body{
    font-size: 16px;
  }

  header .top .top-left .logo-text{
    width: 100%;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    font-weight: bold;
  }
}


/* Vista laptop */
@media (min-width: 769px) {
  header .top .top-left i{
    display: none;
  }

  header .search{
    display: none;
  }

  header .top .top-center{
    display: flex;
    align-content: center;
    flex-grow: 4;
  }

  nav{
    display: flex;
    align-self: center;
  }

  header nav ul{
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
}


/* Vista escritorio */
@media (min-width: 1280px) {
  
}