<footer>
  <section class="footer-art">
    <div class="izquierda">
      <div class="icon"><i class="fas fa-phone-alt"></i></div>
      <p><strong>Teléfono</strong></p>
      <p>601-7658531</p>

      <div class="social">
        <p><b>Siguenos en nuestras redes</b></p>

        <div class="links">
          <a href="https://facebook.com">
            <img src="/img/facebook.png" alt="">
          </a>
          
          <a href="https://instagram.com">
            <img src="/img/instagram.png" alt="">
          </a>

          <a href="https://twitter.com">
            <img src="/img/twitter.png" alt="">
          </a>
        </div>
      </div>
    </div>

    <div><img src="/img/logo.png" alt="" class="logo-footer"></div>

    <div class="derecha">
      <div class="icon"><i class="fas fa-store-alt"></i></div>
      <p><strong>Tienda física</strong></p>
      <p>Calle 65 No 58c-79 Local 204</p>
      <div class="hecho">
        Hecho con ❤️ por Proyecto 7
      </div>
    </div>
  </section>
</footer>