<header>
  <div class="top">
    <div class="top-left">
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>

      <a href="/" class="logo">
        <img src="/img/logo.png" alt="">

        <div class="logo-text">
          <p>L&nbspSTANDS</p>
          <p>FOR&nbspLIBROS</p>
        </div>
      </a>
    </div>

    <div class="top-center">
      <form action="/search" method="get" class="laptop">
        <input type="search" name="search" id="search" placeholder="Busca tus libros">

        <button type="submit" class="search">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>

    <div class="top-right">
      <a href="/product-cart">
        <i class="fas fa-shopping-cart"></i>
      </a>

      <% if (locals.session && session.user) { %>
        <h3 class="hola">Hola <%= session.user.name %></h3>

        <div class="pfp">
          <img src=<%= "/img/users/" + session.user.img %> alt="">
        </div>

        <form action="/users?_method=DELETE" method="post" class="logout">
          <button type="submit" class="logout-icon">
            <i class="fas fa-sign-out-alt"></i>
          </button>
        </form>
      <% } else { %>
        <a href="/users/login" class="top-button">Ingresa</a>

        <a href="/users/register" class="top-button">Regístrate</a>
      <% } %>

    </div>
  </div>

  <form action="search" method="get" class="mobile">
    <input type="search" name="search" id="search" placeholder="Busca tus libros">

    <button type="submit" class="search">
      <i class="fas fa-search"></i>
    </button>
  </form>

  <nav>
    <ul>
      <li><a href="#">Categorias</a></li>
      &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
      <li><a href="#">Ofertas</a></li>
      &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
      <li><a href="#">Historial</a></li>

      <% if (locals.session.user && session.user.category === "vendor") { %>
        &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
        <li><a href="/products/create">Crear</a></li>
        &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
        <li><a href="/products">Productos</a></li>
      <% } %>
    </ul>
  </nav>

</header>