<header>
  <div class="top">
    <div class="top-left">
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>

      <a href="/" class="logo">
        <img src="/img/logo.png" alt="">

        <div class="logo-text">
          <p>L&nbspSTANDS</p>
          <p>FOR&nbspLIBROS</p>
        </div>
      </a>
    </div>

    <%- include("search-form", {deviceClass: "laptop"}) %>

    <div class="top-right">
      <a href="/product-cart">
        <i class="fas fa-shopping-cart"></i>
      </a>

      <% if (locals.session?.user) { %>
        <h3 class="hola laptop">Hola <%= session.user.first_name %></h3>

        <a href="/users/profile" class="pfp">
          <img src=<%= "/img/users/" + session.user.img_path %> alt="">
        </a>

        <form action="/users?_method=DELETE" method="post" class="logout">
          <button type="submit" class="logout-icon">
            <i class="fas fa-sign-out-alt"></i>
          </button>
        </form>
      <% } else { %>
        <a href="/users/login" class="top-button">Ingresa</a>

        <a href="/users/register" class="top-button">Regístrate</a>
      <% } %>

      <ul class="menu">
        <li><a href="#" class="menuItem">Categorias</a></li>
        &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
        <li><a href="#" class="menuItem">Ofertas</a></li>
        &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
        <li><a href="#" class="menuItem">Historial</a></li>
      
        <% if (locals.session?.user?.category==="vendor" ) { %>
          &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
          <li><a href="/products/create" class="menuItem">Crear</a></li>
          &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
          <li><a href="/products" class="menuItem">Productos</a></li>
          <% } %>
      </ul>
  
    <button class="hamburger"></button>
      <i class="menuIcon material-icons">menu</i>
      <i class="closeIcon material-icons">close</i>
    </button>

    </div>
  </div>

  <%- include("search-form", {deviceClass: "mobile"}) %>

</header>