<!DOCTYPE html>
<html lang="es">

  <%- include("../partials/head", {title: "Registro"}) %>

  <body>
    <%- include("../partials/header") %> 

    <main>
      <form class="form-register" action="/users" method="post" enctype="multipart/form-data">
        <h3>Formulario de registro</h3>

        <label for="name">Nombre:</label>
        <input class="controls login-box__input" type="text" name="name" id="name" placeholder="Ingrese su nombre aquí"  autofocus>
        
        <label for="surname">Apellido:</label>
        <input class="controls login-box__input" type="text" name="surname" id="surname" placeholder="Ingrese sus apellidos aquí">
        
        <label for="category">Categoria:</label>
        <div class="category">
          <input type="radio" name="category" id="buyer" value="buyer" checked>
          <label for="buyer">Comprador</label>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <input type="radio" name="category" id="vendor" value="vendor">
          <label for="vendor">Vendedor</label>
        </div>
        
        <label for="email">Correo electrónico:</label>
        <input class="controls login-box__input" type="email" name="email" id="email" placeholder="Ingrese su correo aquí">
        
        <label for="password">Contraseña:</label>
        <input class="controls login-box__input" type="password" name="password" id="password" placeholder="Ingrese su contraseña aquí">

        <label for="profile-pic">Foto de perfil:</label>
        <input class="controls login-box__input" type="file" name="profile-pic" id="profile-pic" accept="image/*">
        
        <p class="terms">Estoy de acuerdo con los <a href="#"><b>Términos y Condiciones</b></a></p>
        
        <input class="botons" type="submit" value="Registrar">
      </form>
    </main>

    <%- include("../partials/footer") %>
  </body>

</html>